:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  /* background-image: linear-gradient(to right, rgba(255, 255, 255, 0.025) 1px, transparent 1px), linear-gradient(to bottom, rgba(255, 255, 255, 0.025) 1px, transparent 1px);
  background-size: 20px 20px; */

  background-image:
    repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.025) 0, rgba(255, 255, 255, 0.025) 1px, transparent 1px, transparent 20px),
    repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.025) 0, rgba(255, 255, 255, 0.025) 1px, transparent 1px, transparent 20px);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  min-width: 320px;
  /* min-height: 100vh; */
  margin-top: 15vh;
}

.bimmer-slash {
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 2px;
  transform: scaleX(2.8);
  font-stretch: expanded;
  transform-origin: left;
  display: inline-block;
}

.bimmer-logo-font {
  font-size: 40px;
  color: rgb(220, 220, 220);
  font-weight: bold;
  letter-spacing: 6px;
  font-family: 'Gill Sans MT Condensed', 'Times New Roman';
  /* animation: glow 5s ease-in-out infinite; */
  user-select: none;
  /* text-decoration-line: underline; */
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px #ffffffc9, 0 0 10px #ffffffa4, 0 0 15px #ffffff9c, 0 0 25px #ffffff9c;
  }

  25% {
    text-shadow: 0 0 3px #ffffffc9, 0 0 6px #ffffffa4, 0 0 10px #ffffff9c, 0 0 20px #ffffff9c;
    /* Reduced glow */
  }

  70% {
    text-shadow: 0 0 3px #ffffffc9, 0 0 6px #ffffffa4, 0 0 10px #ffffff9c, 0 0 20px #ffffff9c;
    /* Reduced glow */
  }

  90% {
    text-shadow: 0 0 2px #ffffffc9, 0 0 10px #ffffffa4, 0 0 15px #ffffff9c, 0 0 20px #ffffff9c;
    /* Back to original glow */
  }

  100% {
    text-shadow: 0 0 5px #ffffffc9, 0 0 10px #ffffffa4, 0 0 15px #ffffff9c, 0 0 25px #ffffff9c;
    /* Back to original glow */
  }
}

.w-100 {
  width: 100%;
}


.flex {
  display: flex;
  flex-direction: row;
}


.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.break {
  margin-top: 8px;
  margin-bottom: 8px;
}